<h1 class="center-align teal-text lighten-3">Doughnut Shoppe</h1>

<div class="row">
  <div class="col s12">
    <img style="width:100%;height:auto;" class="responsive-img" alt="donut banner" src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-donut-fresh-banner-image_178296.jpg">
  </div>
</div>
<div class="row">
  <div class="col s4">
    <img class="responsive-img" alt="donuts1" src="https://images.squarespace-cdn.com/content/v1/52b9b8f3e4b088a72262e761/1390934044036-I0Z4RBF51UT4LVMWFZHO/ke17ZwdGBToddI8pDm48kPmLlvCIXgndBxNq9fzeZb1Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIFMLRh9LbupWL4Bv1SDYZc4lRApws2Snwk0j_RSxbNHMKMshLAGzx4R3EDFOm1kBS/donuts-case-wixey.jpg?format=2500w">
  </div>
  <div class="col s4">
    <img class="responsive-img" alt="donuts2" src="https://foodtruckempire.com/wp-content/uploads/donut-shop.png">
  </div>
  <div class="col s4">
    <img class="responsive-img" alt="donuts3" src="https://i.pinimg.com/originals/98/08/cd/9808cd0c9edd0fdbefe4f611a78b7d2f.jpg">
  </div>
</div>
